@import url('../../App.css');
@font-face {
    font-family: Euclid;
    src: url('./../../assets/fonts/Euclid/Euclid\ Circular\ A\ Medium.ttf');
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2em 5em;
  
}

.sidebar ul {
    padding: 0;


}

.sidebar ul li {
    padding: 2.5em 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:1.2em;
    font-family: Euclid;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}


.sidebar ul li a:hover {
    color: white;
}
.sidebar ul li span {
    display: inline-flex;
    
}

.text {
    font-size:0.9em;
    font-family: Euclid;

}