@import url('../../App.css');
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2em 5em;
    font-family: Euclid;
}

.sidebar ul {
    padding: 0;


}

.sidebar ul li {
    padding: 3em 0;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:1.2em;
    font-weight: bold;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}


.sidebar ul li a:hover {
    color: white;
}
.sidebar ul li span {
    display: inline-flex;
    
}
