*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-Medium/Gilroy-Medium.ttf');
}

.default {
    color: grey;
    font-family: Gilroy;

    display: flex;
    justify-content: center;
    margin-top: 10em;

}